@import "node_modules/bulma-start/css/main";
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

/* variable */
$gray : #EFEFEF;
$orange : #FF5721;
$primary : #00BEA2;
$sizeMobile: 750px;

body, html{
  background-color:$gray;
  weight:100%;
  height:100%;
}
.background-white{
  background-color:#ffffff;
}

@import "info-payment";
@import "not-yet-payment";
@import "original-pack";
