.isi-not-yet{
  transform: translateY(-0.8%);
}
.pr-2{
  padding-right:2em;
}
.pl-1{
  padding-left:1em;
}
.pr-1{
  padding-right:1em;
}
.has-background-primary{
  background-color:$primary;
  color:white;
}
.has-text-orange{
  color:$orange;
}
.image-browser{
  margin-top:0.5em;
}
.is-red{
  border:1px solid red;
  color:red;
  padding:0px 1px 0px 1px;
}
.line-bank{
  margin:9px;
  height:3px;
}
.taked{
  transform: translateY(-40%);
}
.detail-product{
  font-size:15px;
}
